{
        "name": "twitter",
        "keys": [
                {
                        "api_key": "sXUEZywrnkRAk7LQPMb40KJOi",
                        "api_secret": "sCuSi1qqVauN1r985FmAYVEs2bUkv0guh2LE8xUxMVDlPbWMpU",
                        "api_access_token": "1375309127019192320-0ga2FEOF3yk3hrRxyiSgOGHoL6pOWo",
                        "api_access_secret": "vuVmd5hJBE8QZyWX9U5SXmerqEXtHLcM3DA8llnD3xBHE"
                }
        ]
}
